.movie-detail {
  width: 100%;
  height: 100vh;
  justify-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.back-button {
  background: #e50914;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px 0;
}

.movie-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.detail-info {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.detail-right {
  display: flex;
  flex-direction: column;
}

.detail-right img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.detail-info h1 {
  margin-top: 0;
}

.detail-info p {
  margin: 8px 0;
}

.booking-button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.booking-button:hover {
  background-color: #e64a19;
}

@media (max-width: 600px) {
  .movie-detail {
    padding: 0 10px;
  }

  .back-button {
    margin: 15px 0;
    padding: 8px 12px;
    font-size: 14px;
  }

  .booking-button {
    font-size: 14px;
    padding: 10px 16px;
  }

  iframe {
    width: 100% !important;
    height: 200px !important;
  }
  .detail-info {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .detail-right img {
    width: 100%;
    max-width: 300px;
  }

  .detail-right {
    align-items: center;
  }

  .booking-button {
    width: 100%;
    max-width: 300px;
  }
}