.movie-card {
  margin: 10px;
  text-decoration: none;
  color: white;
  transition: transform 0.3s;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.movie-card img:hover {
 box-shadow: 0 0 15px 5px red; 
}

.movie-card h3 {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 600px){
  .movie-card img {
    width: 150px;
    height: 200px;
  }
  .movie-card h3 {
    width: 150px;
  }
}