.movie-card {
  /* width: 200px;  제거 또는 주석 처리 */
  margin: 10px;
  text-decoration: none;
  color: white;
  transition: transform 0.3s;
  flex-grow: 1; /* flex 아이템으로 유연하게 크기 변함 */
}


.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
