.seat-map-wrapper {
  width: 100%;
  overflow-x: auto;
}

.seat-map {
  margin: 20px auto;
  width: fit-content; /* 내용 크기만큼 */
  min-width: 728px;
  min-height: 584px;
  text-align: center;
}

.screen {
  background: #eee;
  padding: 10px;
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  color: black;
}

.seat-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 0;
}

.row-label {
  width: 20px;
  margin-right: 8px;
  font-weight: bold;
}

.seat {
  width: 30px;
  height: 30px;
  margin: 2px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.seat:hover {
  background-color: #77b479;
}

.seat.selected {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

.seat-gap {
  width: 20px;
}
